body {
  background-color: #f7f8fa;
  margin: 0;
}
.van-theme-dark body {
  color: #f5f5f5;
  background-color: #141414;
}
/* .van-theme-light {
  --van-tabbar-item-text-color: rgb(225, 28, 28);
}

.van-theme-dark {
  --van-tabbar-item-text-color: rgb(83, 158, 83);
} */
